*{
    margin: 0;
    box-sizing: border-box;
}
h1{
  color: rgb(111, 111, 253);
  text-align: center;
  animation: mymove 5s infinite;
}
#TEXTRACE {
  width: 120px;
  background-color: coral;
  color: white;
  animation: mymove 5s infinite;
  
}
#big-box {
  width: 1330px;
  height: 265px;
  margin: 20px;
  position: relative;
  border: solid black 1px;
  background-color: rgb(255, 255, 255);
  background-image: url(./yol.webp);
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 160px;
}

img {
  position: absolute;
  z-index: 1;
  width: 140px;
  offset-path: path('M 50 80 L 1330 80');
  animation: moveCar 5s 4;
  top: 140px;
}

@keyframes moveCar {
  0%    { offset-distance: 0%; }
  100%  { offset-distance: 100%; }
}
@keyframes mymove {
  50% {text-shadow: 10px 20px 30px blue;}
}
@keyframes mymove {
  50% {width: 500px;}
}